{sub_dirs, ["rel"]}.
{lib_dirs, ["deps"]}.

{deps, [
    {'sync', ".*", {git, "https://github.com/rustyio/sync.git", "master"}},
    {'meck', ".*", {git, "https://github.com/eproxus/meck.git", "master"}},
    {'jsonerl', ".*", {git, "https://github.com/lambder/jsonerl.git", "master"}},
    {'ibrowse', ".*", {git, "https://github.com/cmullaparthi/ibrowse.git", "master"}},
    {'erlsom', ".*", {git, "https://github.com/willemdj/erlsom.git", "master"}}
  ]}.
