{sys, [
       {lib_dirs, ["../../"]},
       {rel, "newbot", "0.1.0",
        [
         sasl,
         newbot
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "newbot"},
       {profile, embedded},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},

       {app, hipe, [{incl_cond, exclude}]}
      ]}.

{target_dir, "newbot"}.

{rebar, [
         {empty_dirs, [
                       "log/sasl"
                      ]},

         {overlay, "overlay"}
         ]}.

