{application, jane,
 [
  {description, "jane: just another erlang bot"},
  {vsn, "0.1.0"},
  {modules, [
              jane_app,
              jane_sup,
              jane_server
            ]},
  {registered, [jane_sup]},
  {applications, [
                  kernel,
                  stdlib
                 ]},
  {mod, { jane_app, []}},
  {env, [{user_login,"jane@example.com"},
         {user_password,"changeme"},
         {server_domain, "jabber.example.com"},
         {muc_room, "test@conference.example.com/jane"},
         {commands, [
                      {"uptime","uptime"},
                      {"hi", "echo hello $sender"},
                      {"where are your bins?", "echo $PATH"},
                      {"howdy", "", "howdy $sender"}
                    ]}
        ]}
 ]}.
