[

  {jane, [
    {user_login,"jane@localhost"},
    {user_password,"test"},
    {server_domain, "localhost"},
    {server_port, "5222"},
    {muc_room, "test@conference.localhost/jane"},

    {mingle_user, "jane"},
    {mingle_password, "foo"},
    {mingle_url, "bar"},
    {mingle_project, "bar"}
  ]},

 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]}
].

